<!DOCTYPE http>
<html>
    
<head>
    
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel ="stylesheet" type="text/css" href="css/style.css">
      
      
    <div class = "title">

          <div class="card">
            
        <div class="card-image">
           
          <img src="http://thumb.baseheadart.com/abS_7.jpg" height = "40%">
           <span class="card-title"><h1>How to be <b>Eco-Friendly</b></h1></span>
        </div>
        <div class="card-content">
          <p><h6>What does it mean to be eco-friendly? This term most commonly refers to having your daily life activities promoting the sustainability of the environment. Going green prevents contributions to harm the air, water, land, or wildlife pollution. Many cities are taking a stand and trying to reverse this negative path we have been going down of pollution.</h6></p>
        </div>
        <div class="card-action">
        </div>
      </div>
   </div>
      
      
</head>
      <h4 align = "center"> <b>Green Cities</b> </h4>
       
      <div class="card-panel blue lighten-4"><h6>The key to having an eco-friendly city is making sure it has many parks and is nature oriented in any way possible. Another way, which may be the most important and impactful is an efficient transportation system. This significantly can lead to a less polluted city because it helps people quickly and easily get around without everyone using their own individual car. Solar panels are an easy way to create green energy in cities because they don’t take up much space and also producing and selling local organic foods is a way to stimulate a healthy environment. This is just a few ways a city can make a difference towards the right direction but this will definitely need to be the way of the future in order to maintain a healthy life.</h6></div>
  
  

  <body>

  <div class = "row">
    <div class="column">
        
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://gezginkafa.com/wp-content/uploads/2017/07/amsterdam.jpg" width = "85%"  height = "43%">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Amsterdam, Netherlands <i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Amsterdam, Netherlands<i class="material-icons right">close</i></span>
            <p><i class="material-icons">terrain</i> The city where there are more bikes than people, holds the title for the most bike-friendly city in the world. </p>
            <p><i class="material-icons">terrain</i> They are known for being highly progressive and green in all different ways. </p>
                <p><i class="material-icons">terrain</i> Their extensive daily biking promotes healthy living and reduces carbon emissions and decreases pollution significantly. </p>
          </div>
        </div>
        </div>
        
            <div class="column">
        
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://s3-us-west-2.amazonaws.com/media-tentree-com/wp-content/uploads/2015/06/vancouver.jpg" width = "85%"  height = "43%">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Copenhagen, Denmark <i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Copenhagen, Denmark<i class="material-icons right">close</i></span>
            <p> 
            <i class="material-icons">terrain</i> Copenhagen has repeatedly been voted the most clean and eco-friendly city in the world. </p>
            <p>
                <i class="material-icons">terrain</i> They have a strong commitment to having their daily tasks revolve around sustainability and to inforce green ways of living. 
                </p>
                <p>
                <i class="material-icons">terrain</i> Biking is one of their main form of transportations and their goal is to have half the population cycling to work and school.
            </p>
          </div>
        </div>
        </div>
            <div class="column">
        
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://inhabitat.com/wp-content/blogs.dir/1/files/2015/12/Stockholm-sky-walk-park-dense-city-plan-Anders-Berensson-Architects-2.jpg" width = "85%" height = "43%">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Stockholm, Sweden<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Stockholm, Sweden<i class="material-icons right">close</i></span>
            <p> 
            <i class="material-icons">terrain</i> Stockholm is known for having little to no litter and has well maintained streets.  </p>
            <p>
                <i class="material-icons">terrain</i> This and their large amount of bikes explains their crisp, clean, and bright air. 
                </p>
                <p>
                <i class="material-icons">terrain</i>Their lack of factories and big industry producers and easy and efficient public transportation system promotes their cleanliness and eco-friendly lifestyle.
            </p>
          </div>
        </div>
        </div>
     </div>   
    <h2 align = "center"> <hr><b>The Issue with Waste</b></h2>
   <div> <iframe src="https://www.youtube.com/embed/jyLjUEOcLgg?ecver=2" style="position:absolute;width:100%;right:0" 
   frameborder="3" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
         <h4 align = "center"><b> Cities That Produce the Most Waste: </b></h4>
    
     <div class="card-panel grey lighten-2"> 
     
 
    
     <p><h6> Densely populated cities tend to create the most waste and be the least eco-friendly. To be able to maintain the amount of trash created by a huge population in a green way is a huge challenge in today's world. The neglect we have given our environment has lead to an excess amount of waste creating unsafe living environments for many people, animals, and wildlife. Studies show that the number of megacities will almost double in just a few years which means more people and more waste created. At the rate of trash these cities are producing now foreshadows a negative future for the environment and all forms of life.</h6></p>
     </div>
     

      
<div class = "row">
    
  <div class="column">

<div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://media.silive.com/advance/photo/2011/01/winter-weather-garbage-5cbe9a167df65d0c.jpg" width = "85%"  height = "43%">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">New York City, United States<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">New York City, United States<i class="material-icons right">close</i></span>
            <p><i class="material-icons">terrain</i> Creates 14 million tons of trash per year and spends around $2.3 billion disposing of it.</p>
<p><i class="material-icons">terrain</i> New York City’s main trash site, China, announced last year that it no longer wanted to be the “world’s garbage dump,” recycling about half of the globe’s plastics and paper products. The ban went into effect on Jan. 1, 2018. </p>
          </div>
        </div>
        
  
  </div>
  
  <div class="column">
        
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://www.denverpost.com/wp-content/uploads/2016/05/20120113__20120114_A15_ND14MEXTRASHp1.jpg?w=545" width = "85%"  height = "43%">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Mexico City, Mexico<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Mexico City, Mexico<i class="material-icons right">close</i></span>
            <p><i class="material-icons">terrain</i> Creates 12.5 million tons of trash per year </p>
            <p><i class="material-icons">terrain</i> Has only two garbage dumps in the state of Mexico that are in danger of overflowing now that the waste site 
        Bordo Poniente is closed </p>
                <p><i class="material-icons">terrain</i> 70 million tonnes of waste are buried underground at the dump, causing serious water and air pollution problems </p>
          </div>
        </div>
              
  
        </div>


     <div class="column">
        
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src= "https://cdn.mainichi.jp/vol1/2017/10/30/20171030k0000m040074000p/6.jpg?1" width = "85%"  height = "43%">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Tokyo, Japan<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Tokyo, Japan<i class="material-icons right">close</i></span>
            <p><i class="material-icons">terrain</i> Creates 2.7 million tons of waste per year </p>
            <p><i class = "material-icons">terrain</i> An island has been created completely out of trash that has been processed, incinerated and embedded into this man-made island (see image). </p>
            <p><i class="material-icons">terrain</i> Spends a large sum of money on incinerators to burn garbage </p>
          </div>
        </div>
        </div>
  
    
    
    

  </div>
     

     
     <div class="card">
    <div class="card-content">
      <p> <h4><b>How these cities are combatting this issue:</b></h4></p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">New York City</a></li>
        <li class="tab"><a class="active" href="#test5">Mexico City</a></li>
        <li class="tab"><a href="#test6">Tokyo</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4"><h6>In New York, community organizations have sent out hundreds of cleaning crews to pick up litter as part of a city-financed program, NYC Cleanup, which has been expanded every year since the City Council started it in 2014. NYC Cleanup doubles as a job training program, with community organizations employing people on cleaning crews who have been homeless or in prison. One of the City Council’s most popular initiatives, it received $7.8 million in funding last year, up from $3.5 million in 2014. Some discouraged residents have taken to publicly shaming those litter out of a car: Photos of their license plates are posted on social media.

David Greenfield, a Brooklyn councilman, said he proposed the program because he could not walk down the street without stepping over pizza boxes and coffee cups.</h6></div>
      <div id="test5"><h6>In Mexico City, Every day, 3,750 tonnes of waste is now separated for recycling with glass, cardboard, paper, tin, plastics and polyethylene terephthalate (PET), among other materials being collected by garbage truck crews, street cleaners and private collection companies, who then separate approximately 3,000 tonnes per day of inorganic solid waste for recycling. A second stream goes to three city-owned Material Recovery Facilities where approximately 750 tonnes per day are recovered for recycling.
<br>

Mexico City generates 12,500 metric tonnes of municipal solid waste per day and it has reduced the amount going to landfill to 5,500 tonnes, through the recycling programme and by diverting 1,023 tonnes of waste into energy and converting 507 tonnes into compost.

Another major factor in the reduction in waste going to landfill is the Mexico City Government’s agreement with CEMEX, one of the world’s largest building materials suppliers and cement producers, to deliver up to 3,000 tonnes a day of solid waste inorganic fraction (SWIF) for use as fuel in their kilns. The SWIF, having been separated from materials suitable for immediate recycling (like PET, aluminium, glass and metals), would end up in landfills if it were not sent for co-processing. The solid waste inorganic fraction processing by CEMEX decreases the amount of material going into landfills, extending the lifespan of existing landfills while reducing the necessity for new ones.</h6></div>
      <div id="test6"><h6>In Tokyo, the disposal island and Central Breakwater landfills will become parks in the future, giving birth to an area of trees that are planted and cared for by Tokyoites. Turning garbage into land is the end result of an elaborately engineered process that’s all the more remarkable considering the city’s density. Tokyo lies at the heart of the world’s largest metropolitan area: more than 37 million people all told, including the capital’s own 13.5 million. And yet Tokyo manages to stay remarkably clean. If not immaculate, the streets are generally tidy and the air is breathable. That’s due in large part to how the city handles and burns its garbage.
    </h6> </div>
    </div>

     

   

 </div>
     
      
 
 
 </div>
 
  </div>

     <h2 align = "center"> <b>Pollution Problem</b> </h2>
      <div><iframe src="https://www.youtube.com/embed/X3Y-09d634A?ecver=2" style="position:absolute;width:100%;right:0" 
   frameborder="3" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4 align = "center"><b> Most Polluted Cities: </b></h4>
<div class="card-panel blue lighten-4"> <h6> Air, water, and land are the three main types of pollution. 
            Air pollution are solid particles mixed with gas in the air, and is created when the air contains harmful 
            amounts of gases, radiated fumes, or toxic oders. 
            This type of pollution is very toxic and has been known to cause numerous health problems such as: lung cancer, liver damage, and throat irritation. Water pollution occurs when harmful substances contaminate bodies of water, compromising the supply 
            and turning it into an unhealthy environment for its inhabitants. Land pollution occurs when waste is thrown on the earth 
            causing damaging results for all living animals and wildlife. </h6></div>


<div class = "row">
    
  <div class = "column">
       
       
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://imageen.mojahedin.org/Attachments/?id=217c7dc1-0191-497b-bf49-ac4f2368b6f1&width=690" width = "85%"  height = "43%">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Zabol Iran<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Zabol, Iran<i class="material-icons right">close</i></span>
            <p><i class="material-icons">terrain</i>Zabol Iran was ranked the most polluted city in the world for land and air pollution.  </p>
            <p><i class="material-icons">terrain</i>  The pollution is believed to be the result of dust being carried by atmosphere circulation from the west of Iran.   </p>
                <p><i class="material-icons">terrain</i> Since the contamination is so bad, Zabols residents have to wear a mask to try and prevent ingestion of chemicals surrounding the air. </p>
          </div>
        </div> 
  
    </div>
  
  
  
   <div class = "column">
       
       
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://www.hindustantimes.com/rf/image_size_640x362/HT/p2/2016/05/22/Pictures/fire-pollution_96ada632-2012-11e6-a451-36c3a3fdf989.jpg" 
     width = "85%"  height = "43%">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Gwalior, India<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Gwalior India<i class="material-icons right">close</i></span>
            <p><i class="material-icons">terrain</i> Gwalior is the most polluted city in India in terms of air pollution. </p>
            <p><i class="material-icons">terrain</i> The particulate matter in Gwalior stands at 329 micrograms per cubic meter, which is over five times over the permitted limit of 60 micrograms.  </p>
            <p> It has been reported that the Indian population has been exposed to these terrible conditions for such a long time it is beyond past living conditions. </p>
          </div>
        </div> 
  
    </div>
    
    <div class = "column">

 <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://cdn.vox-cdn.com/thumbor/BZQnKjIrURHSJF3Hf24AHBc_hMU=/0x0:4140x2796/1200x800/filters:focal(1706x1169:2368x1831)/cdn.vox-cdn.com/uploads/chorus_image/image/57711127/GettyImages_871511920IndiaDelhi.0.jpg" 
     width = "85%"  height = "43%">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Delhi India<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Delhi India<i class="material-icons right">close</i></span>
            <p><i class="material-icons">terrain</i> Multiple airlines canceled flights to India’s capital because of poor air quality. Visibility was so bad that cars crashed in pileups on highways and trains had to be delayed and canceled.</p>
            <p><i class="material-icons">terrain</i> Merely breathing the air is said to be worse than smoking 50 cigarettes a day.  </p>
            <p> The cities hospital assisiation has declared a public health emergency for everyone in the metro area because of conditions worsening. </p>
          </div>
        </div> 


      
    </div>
    
  </div>
  </div>
</div>

 <form method="post">
   <div class="card-panel light-blue darken-4">
        <span class="white-text"><h2 align = "middle"> How Eco-Friendly Are You? </h2>
        </span>
      </div>
          
          <!--question one-->
      
          <h3 align = "middle"> How often do you recycle? </h3>
          <hr>
            <p align = "middle"> 
              <label>
                <input name="recycle" type="radio" class="with-gap" value = "Always"/>
                <span>Always</span>
              </label>
            </p>
            
            <p align = "middle">
              <label>
                <input name="recycle" type="radio" class="with-gap" value = "When I think of it"/>
                <span>When I think of it</span>
              </label>
            </p>
            <p align = "middle">
              <label >
                <input class="with-gap" name="recycle" type="radio" value = "Never" />
                <span>Never</span>
              </label>
            </p>
      <hr>
            <h3 align = "middle"> Do you turn off the lights when you leave a room? </h3>
            <hr>
            <p align = "middle">
              <label >
                <input name="lights" type="radio" class="with-gap" value = "Everytime"/>
                <span>Everytime</span>
              </label>
            </p>
            <p align = "middle">
              <label >
                <input name="lights" type="radio" class="with-gap" value = "If I remember to"/>
                <span>If I remember to</span>
              </label>
            </p>
            <p align = "middle">
              <label >
                <input class="with-gap" name="lights" type="radio" value = "I have never done that" />
                <span>I have never done that</span>
              </label>
            </p>  
           <hr>
            <h3 align = "middle"> Do you use a reusable water bottle? </h3>
            <hr>
            <p align = "middle">
              <label>
                <input name="waterbottle" type="radio" class="with-gap" value = "Yes! Hydroflasks all the way!!"/>
                <span>Yes! Hydroflasks all the way!!</span>
              </label>
            </p>
            <p align = "middle">
              <label>
                <input name="waterbottle" type="radio" class="with-gap" value = "I try to as often as I can"/>
                <span>I try to as often as I can</span>
              </label>
            </p>
            <p align = "middle">
              <label >
                <input class="with-gap" name="waterbottle" type="radio" value = "Nope, I buy plastic bottles then throw them away" />
                <span>Nope, I buy plastic bottles then throw them away</span>
              </label>
            </p>
            <hr>
            <h3 align = "middle"> What do you do with clothes you don't want anymore? </h3>
            <hr>
            <p align = "middle">
              <label>
                <input name="clothes" type="radio" class="with-gap" value = "Donate/give them away"/>
                <span>Donate/give them away</span>
              </label>
            </p>
            <p align = "middle">
              <label>
                <input name="clothes" type="radio" class="with-gap" value = "Sell them"/>
                <span>Sell them</span>
              </label>
            </p>
            <p align = "middle">
              <label >
                <input class="with-gap" name="clothes" type="radio" value = "Throw them away" />
                <span>Throw them away</span>
              </label>
            </p>
            <hr>
            <h3 align = "middle"> How long are your showers? </h3>
            <hr>
            <p align = "middle">
              <label>
                <input name="shower" type="radio" class="with-gap" value = "I jump in then jump out"/>
                <span>I jump in then jump out</span>
              </label>
            </p>
            <p align = "middle">
              <label>
                <input name="shower" type="radio" class="with-gap" value = "5-10 min"/>
                <span>5-10 min</span>
              </label>
            </p>
            <p align = "middle">
              <label >
                <input class="with-gap" name="shower" type="radio" value = "20-40 min" />
                <span>20-40 min</span>
              </label>
            </p>
            <hr>
            <h3 align = "middle"> Do you leave your phone charger plugged in even when you aren't using it? </h3>
            <hr>
            <p align = "middle">
              <label>
                <input name="charger" type="radio" class="with-gap" value = "No, I unplug it everytime I'm not using it"/>
                <span>No, I unplug it everytime I'm not using it</span>
              </label>
            </p>
            <p align = "middle">
              <label>
                <input name="charger" type="radio" class="with-gap" value = "I don't really think about it"/>
                <span>I don't really think about it</span>
              </label>
            </p>
            <p align = "middle">
              <label >
                <input class="with-gap" name="charger" type="radio" value = "Yes, why wouldn't I" />
                <span>Yes, why wouldn't I</span>
              </label>
            </p>
          <br>
          <p align = "middle">
          <input type="Submit" value="submit">
          </p>
        </form>
        
    <body>
       <footer class="page-footer  light-blue darken-4">
          <div class="container">
           
                <h5 class="white-text">For More Information, Please Visit:</h5>
                <p class="grey-text text-lighten-4">
                  <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">https://www.japantimes.co.jp/life/2017/02/18/environment/wasteland-tokyo-grows-trash/#.WyM5NadKiUk</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">https://www.nytimes.com/2017/02/06/nyregion/new-yorks-growth-can-be-measured-in-trash-bags.html</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">https://cities-today.com/how-mexico-city-has-turned-garbage-into-fuel/</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"https://www.tentree.com/blogs/posts/the-10-most-eco-friendly-cities</a></li>
                </ul>
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
               
                
              </div>
          
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Contributed by Coco Waszak and McKenna Branting</a>
            </div>
          </div>
        </footer>
        
</html>
     