<!DOCTYPE html>
<html>
  <head>
    <link rel ="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div style="font-size:40px; color:turquoise;" class = "container">
      <%=@answer%>
    </div>
  </body>
</html>